$navbarColor: #efefef
$heroSectionColor: #82D1EA
$mainFontFam: Fira Sans
$footerColor: #efefef


header
    height: 7em
    img
        height: 4.6em
    nav 
        height: 100%
        background-color: $navbarColor
        .navbar-brand
            padding-left: 7em
        .nav-item
            padding-left: 2em
            padding-right: 2em

.hero-section
    background-color: $heroSectionColor
    h1
        font-family: $mainFontFam
        font-size: 48pt
    p
        font-size: 18pt

.portfolio-banner
    background-color: $heroSectionColor
    height: 100px

footer
    background-color: $footerColor
    position: fixed
    display: flex
    align-items: center
    height: 70px
    width: 100%
    left: 0
    bottom: 0
    font-family: $mainFontFam
    font-size: 10pt
    span
        padding: 1em
        a 
            color: black
            font-size: 20pt
        a:hover 
            color: $heroSectionColor