$navbarColor: #EA9B82
$heroSectionColor: #efefef
$mainFontFam: Fira Sans
$backgroundColor: #82D1EA


body
    background-color: $backgroundColor

header
    height: 5em
    img
        height: 3.5em
    nav 
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px        
        background-color: $navbarColor
        .navbar-brand
            padding-left: 7em
        .nav-item
            padding-left: 2em
            padding-right: 2em


.hero-section
    background-color: $backgroundColor
    h1
        font-family: $mainFontFam
        font-size: 48pt
    p
        font-size: 14pt

.portfolio-banner
    background-color: $backgroundColor
    height: 100px

footer
    background-color: $navbarColor
    display: flex
    position: relative /*make footer non sticky*/
    align-items: center
    height: 3.75em
    width: 100%
    left: 0
    bottom: 0
    font-family: $mainFontFam
    font-size: 10pt
    span
        padding: 1em
        a 
            color: black
            font-size: 20pt
        a:hover 
            color: $heroSectionColor